In [1]:
import pandas as pd
import numpy as np
import glob

In [ ]:
# 方針メモ

## 計測地点名称から、ターゲットを一つに絞る
## ターゲット地点のdfを作成する（時刻、断面交通量）
## 時刻によるグループ化を施すことで、各データを作成する
## csvファイルで出力する

In [3]:
# パス取得（ls）
files = glob.glob("./csv/TrafficOfShizuoka/*")

# 抽出、結合のループ
for i in range(len(files)):
    if i == 0:
        master_df = pd.read_csv(files[i], encoding = "shift-jis")
        master_df = master_df[master_df['計測地点名称'] == '静岡市国吉田西']
        master_df = master_df[['時刻', '断面交通量']]
    else:
        df = pd.read_csv(files[i], encoding = "shift-jis")
        df = df[df['計測地点名称'] == '静岡市国吉田西']
        df = df[['時刻', '断面交通量']]
        master_df = pd.concat([master_df, df])

In [4]:
master_df

                       時刻  断面交通量
43       2017/1/1 0:00:00     13
782      2017/1/1 0:05:00     11
1504     2017/1/1 0:10:00     10
2223     2017/1/1 0:15:00     11
2948     2017/1/1 0:20:00     10
...                   ...    ...
5049778  2018/12/31 23:35      9
5050342  2018/12/31 23:40     16
5050907  2018/12/31 23:45     12
5051470  2018/12/31 23:50     19
5052034  2018/12/31 23:55      6

[207381 rows x 2 columns]

In [5]:
master_df.to_csv('./csv/TrafficOfShizuoka/traffic_shizuokashi_kuniyoshida_nishi.csv')